[Unit]
Description=alttab DISPLAY=%i
PartOf=xmonad@%i.target

[Service]
Slice=app.slice

Restart=always
RestartSec=1s

EnvironmentFile=%t/xsession-env-%i
ExecStartPre=bash -c 'wmctrl -m &>/dev/null && wmctrl -l &>/dev/null'
ExecStart=alttab

PrivateUsers=true
ProtectSystem=full
ProtectHome=read-only
