[Unit]
Description=arbtt-capture
PartOf=graphical-session.target

[Service]
ExecStart=%h/bin/arbtt-capture --sample-rate=20
Restart=always

[Install]
WantedBy=graphical-session.target
