[Unit]
Description=battery-watch
StartLimitIntervalSec=0
Wants=notify-osd.service
After=notify-osd.service

[Service]
ExecStart=%h/bin/battery-watch
ExecStartPre=/bin/sh -c "/usr/bin/xset q >/dev/null 2>&1"
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
