[Unit]
Description=caffeine-indicator
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/caffeine-indicator
Restart=always

[Install]
WantedBy=graphical-session.target
