[Unit]
Description=liskin-media mpris-daemon
StartLimitIntervalSec=0

[Service]
ExecStart=%h/bin/liskin-media mpris-daemon
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
