[Unit]
Description=daily timer

[Timer]
Unit=liskin-timer@%i.service
OnCalendar=daily
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=default.target
