[Unit]
Description=every 15 minutes timer

[Timer]
Unit=liskin-timer@%i.service
OnCalendar=hourly
OnCalendar=*-*-* *:00/15:00
RandomizedDelaySec=30s
Persistent=true

[Install]
WantedBy=default.target
