[Unit]
Description=daily timer - %i

[Timer]
Unit=liskin-timer@%i.service
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
