[Unit]
Description=every 15 minutes timer - %i

[Timer]
Unit=liskin-timer@%i.service
OnCalendar=*-*-* *:00/15:00
RandomizedDelaySec=30s
Persistent=true

[Install]
WantedBy=default.target
