[Unit]
Description=hourly timer - %i

[Timer]
Unit=liskin-timer@%i.service
OnCalendar=hourly
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target
