[Unit]
Description=bluetooth-fix-a2dp
PartOf=pulseaudio.service
After=pulseaudio.service
Requisite=pulseaudio.service

[Service]
ExecStart=%h/bin/liskin-bluetooth-fix-a2dp
Restart=always
RestartSec=1s

[Install]
WantedBy=pulseaudio.service
