[Unit]
Description=hourly timer

[Timer]
Unit=liskin-timer@%i.service
OnCalendar=hourly
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=default.target
