[Unit]
Description=liskin timer service template - %i
OnFailure=liskin-timer-failed@%i.service

[Service]
RuntimeMaxSec=120
ExecStart=%h/bin/liskin-timer-%i

# avoid killing any forked exim4 possibly trying to deliver mail
ExitType=cgroup
