[Unit]
Description=mpd-snapshot timer

[Timer]
OnCalendar=*-*-* *:00/15:00
RandomizedDelaySec=30s
AccuracySec=1m
Persistent=true

[Install]
WantedBy=default.target
