[Unit]
Description=nm-applet
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/nm-applet
Restart=always

[Install]
WantedBy=graphical-session.target
