[Unit]
Description=notify-osd
PartOf=graphical-session.target

[Service]
BusName=org.freedesktop.Notifications
ExecStart=/usr/lib/notify-osd/notify-osd
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=graphical-session.target
