[Unit]
Description=redshift DISPLAY=%i
PartOf=xmonad@%i.target

[Service]
Slice=app.slice

Restart=always

EnvironmentFile=%t/xsession-env-%i
ExecStart=/usr/bin/redshift
