[Unit]
Description=ssh-agent-gooddata

[Service]
NoNewPrivileges=true
Type=forking
ExecStartPre=/bin/rm -f %h/.ssh/gooddata/agent
ExecStart=/usr/bin/ssh-agent -a %h/.ssh/gooddata/agent

[Install]
WantedBy=default.target
