[Unit]
Description=xmonad DISPLAY=%i
RefuseManualStart=yes
StopWhenUnneeded=yes

Wants=alttab@%i.service
Wants=arbtt-capture@%i.service
Wants=compton@%i.service
Wants=redshift@%i.service
Wants=xss-lock@%i.service
Wants=xsettingsd@%i.service
