[submodule ".vim/bundle/groovy.vim"]
	path = .vim/bundle/groovy.vim
	url = https://github.com/modille/groovy.vim
[submodule ".vim/bundle/vimoutliner"]
	path = .vim/bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
[submodule ".vim/bundle/vim-windowswap"]
	path = .vim/bundle/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap.git
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	#url = https://github.com/liskin/ale.git
	url = https://github.com/w0rp/ale.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	#url = https://github.com/liskin/vim-elixir.git
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = http://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/vim-mkdir"]
	path = .vim/bundle/vim-mkdir
	url = https://github.com/pbrisbin/vim-mkdir.git
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/vim-openscad"]
	path = .vim/bundle/vim-openscad
	url = https://github.com/sirtaj/vim-openscad.git
[submodule ".vim/bundle/vim-puppet"]
	path = .vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	#url = https://github.com/liskin/fzf.vim.git
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/bundle/vim-rhubarb"]
	path = .vim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule ".vim/bundle/vim-fubitive"]
	path = .vim/bundle/vim-fubitive
	url = https://github.com/liskin/vim-fubitive.git
	#url = https://github.com/tommcdo/vim-fubitive.git
[submodule ".vim/bundle/fugitive-gitlab.vim"]
	path = .vim/bundle/fugitive-gitlab.vim
	url = https://github.com/shumphrey/fugitive-gitlab.vim.git
[submodule ".xmonad/dep/xmonad-contrib"]
	path = .xmonad/dep/xmonad-contrib
	url = https://github.com/liskin/xmonad-contrib.git
[submodule ".xmonad/dep/xmonad"]
	path = .xmonad/dep/xmonad
	url = https://github.com/liskin/xmonad.git
[submodule ".xmonad/dep/xmobar"]
	path = .xmonad/dep/xmobar
	url = https://github.com/liskin/xmobar.git
[submodule ".vim/bundle/vim-boxdraw"]
	path = .vim/bundle/vim-boxdraw
	url = https://github.com/gyim/vim-boxdraw.git
[submodule ".vim/bundle/vader.vim"]
	path = .vim/bundle/vader.vim
	url = https://github.com/junegunn/vader.vim
[submodule "src/tig-colors-neonwolf"]
	path = src/tig-colors-neonwolf
	url = https://github.com/h3xx/tig-colors-neonwolf
[submodule "src/emoji-rofi-menu"]
	path = src/emoji-rofi-menu
	url = https://github.com/liskin/emoji-rofi-menu
[submodule "src/urxvt-scripts"]
	path = src/urxvt-scripts
	#url = https://github.com/pkkolos/urxvt-scripts.git
	url = https://github.com/liskin/urxvt-scripts.git
[submodule "src/urxvt-aAtt"]
	path = src/urxvt-aAtt
	url = https://github.com/Vifon/autocomplete-ALL-the-things
[submodule ".vim/bundle/ghost-text.vim"]
	path = .vim/bundle/ghost-text.vim
	url = https://github.com/pandysong/ghost-text.vim
[submodule ".vim/bundle/vim-speeddating"]
	path = .vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
