! XLock.mode: blank
XLock.mode: loop
XLock.echokeys: yes
XLock.erasemode: no_fade
XLock.timeelapsed: yes
XLock.planfont: -misc-fixed-medium-r-normal--12-*-75-75-c-*-iso8859-2
XLock.mousemotion: yes
XLock.background: black
XLock.foreground: white
!XLock.startCmd: ssh-add -D
XLock.startCmd: killall -STOP notify-osd; pkill -HUP -u tomi -x gpg-agent
XLock.endCmd: killall -CONT notify-osd
!XLock.endCmd: xset dpms 300 300 300
SshAskpass.grabKeyboard: false

Xft.dpi: 96
!Xft.lcdfilter: lcdlegacy
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
!Xft.hintstyle: hintslight
Xft.rgba: rgb
!Xft.autohint: 0
