[Unit]
Description=XScreenSaver
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/xscreensaver -nosplash
ExecStartPre=/bin/sh -c "/usr/bin/xset q >/dev/null 2>&1"
ExecStartPost=-/usr/bin/sudo /usr/local/sbin/xscreensaver-oom $MAINPID
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
