ACTION=="remove", GOTO="liskin-net-setup-link-end"

# https://gitlab.freedesktop.org/NetworkManager/NetworkManager/merge_requests/15#note_162509
SUBSYSTEM=="net", ENV{INTERFACE}=="virbr*", PROGRAM="/bin/sleep 0.5"
SUBSYSTEM=="net", ENV{INTERFACE}=="br-*", PROGRAM="/bin/sleep 0.5"
SUBSYSTEM=="net", ENV{INTERFACE}=="docker[0-9]*", PROGRAM="/bin/sleep 0.5"
SUBSYSTEM=="net", ENV{INTERFACE}=="veth[0-9]*", PROGRAM="/bin/sleep 0.5"

LABEL="liskin-net-setup-link-end"
