ACTION=="add",      SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device",    ENV{PRODUCT}=="2386/310e/0", TEST!="/run/t25_touchscreen_enabled", RUN+="/bin/sh -c 'echo 2 >%S%p/power/autosuspend; echo auto >%S%p/power/control'"
ACTION=="add|bind", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_interface", ENV{PRODUCT}=="2386/310e/0", TEST!="/run/t25_touchscreen_enabled", RUN+="/bin/sh -c 'a=%p; a=$${a##*/}; echo $$a >/sys/bus/usb/drivers/%E{DRIVER}/unbind'"

ACTION=="add",      SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device",    ENV{PRODUCT}=="bda/316/204", TEST!="/run/t25_sdcard_enabled", RUN+="/bin/sh -c 'echo 2 >%S%p/power/autosuspend; echo auto >%S%p/power/control'"
ACTION=="add|bind", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_interface", ENV{PRODUCT}=="bda/316/204", TEST!="/run/t25_sdcard_enabled", RUN+="/bin/sh -c 'a=%p; a=$${a##*/}; echo $$a >/sys/bus/usb/drivers/%E{DRIVER}/unbind'"
