[Unit]
Description=Register userspace conntrack helpers (ssdp)
PartOf=firewalld.service
Before=firewalld.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/nfct add helper ssdp inet  udp
ExecStart=/usr/sbin/nfct add helper ssdp inet  tcp
ExecStart=/usr/sbin/nfct add helper ssdp inet6 udp
ExecStart=/usr/sbin/nfct add helper ssdp inet6 tcp

[Install]
WantedBy=firewalld.service
