/* ==UserStyle==
@name           Discord high contrast, high density
@namespace      github.com/openstyles/stylus
@version        1.0.0
@author         Tomáš Janoušek
==/UserStyle== */

@-moz-document domain("discord.com") {

	/* high contrast */
	.theme-dark {
		--background-primary: #000;
		--background-secondary: #111;
		--background-secondary-alt: #222;
		--background-tertiary: #222;
		--channeltextarea-background: #222;
		--text-normal: #ddd;
	}

	/* font with better hinting/rendering on non-HiDPI displays */
	body { font-family: "Noto Sans"; }

	/* collapse sidebar */
	div.sidebar-2K8pFh { width: 80px; transition: width 0.3s; }
	div.sidebar-2K8pFh:hover { width: 240px; }

	/* show as much as possible in collapsed sidebar */
	div.sidebar-2K8pFh div.content-1x5b-n { padding: 0; }
	div.sidebar-2K8pFh div.overflow-WK9Ogt { text-overflow: clip; }

	/* collapse guild navigation */
	div.base-3dtUhz { left: 10px; }
	nav.guilds-1SWlCJ { z-index: 100; width: 10px; transition: width 0.3s; }
	nav.guilds-1SWlCJ:hover { width: 72px; }

	/* no right padding for messages */
	div.message-2qnXI6 { padding-right: 0px !important; }

}
