/* ==UserStyle==
@name           Outlook UI tweaks
@namespace      https://github.com/liskin/dotfiles/tree/home/src-webextensions
@version        1.0.0
@author         Tomáš Janoušek
==/UserStyle== */

@-moz-document url-prefix("https://outlook.office.com/calendar/"), url-prefix("https://outlook.office.com.mcas.ms/calendar/") {

	/* animate collapsing */
	:is(#o365header, div[aria-label="Ribbon"], #LeftRail) { transition: height 0.3s, width 0.3s; }
	#LeftRail { width: 48px; }

	/* vertically collapse top bars */
	:root:has(#o365header:not(:hover)):has(#LeftRail:not(:hover)):has(div[aria-label="Ribbon"]:not(:hover)):not(:has(button[aria-label="Exit Search" i]))
	:is(#o365header, div[aria-label="Ribbon"]) {
		height: 4px;
	}

	/* horizontally collapse left bar */
	:root:has(#o365header:not(:hover)):has(#LeftRail:not(:hover)):has(div[aria-label="Ribbon"]:not(:hover)):not(:has(button[aria-label="Exit Search" i]))
	:is(#LeftRail) {
		width: 4px;
	}

	/* fix collapsibility */
	:is(#o365header, div[aria-label="Ribbon"], #LeftRail) { overflow: hidden !important; }
	div[aria-label="Ribbon"] > div[style] { position: unset !important; width: unset !important; }
	#LeftRail + div { width: auto; flex: 1; }

}

@-moz-document url-prefix("https://outlook.office.com/mail/"), url-prefix("https://outlook.office.com.mcas.ms/mail/") {

	/* animate collapsing */
	:is(#o365header, #LeftRail) { transition: height 0.3s, width 0.3s; }
	#LeftRail { width: 48px; }

	/* vertically collapse top bar */
	:root:has(#o365header:not(:hover)):has(#LeftRail:not(:hover)):not(:has(button[aria-label="Exit Search" i]))
	:is(#o365header) {
		height: 4px;
	}

	/* horizontally collapse left bar */
	:root:has(#o365header:not(:hover)):has(#LeftRail:not(:hover)):not(:has(button[aria-label="Exit Search" i]))
	:is(#LeftRail) {
		width: 4px;
	}

	/* fix collapsibility */
	:is(#o365header, #LeftRail) { overflow: hidden !important; }
	#LeftRail + div { width: auto; flex: 1; }

	/* folders pane compact */
	div[data-app-section="NavigationPane"] > div > div { padding-left: 0; }
	div[data-app-section="NavigationPane"] div.ms-FocusZone > div { padding-right: 0; }

}

@-moz-document url-prefix("https://teams.microsoft.com/v2/") {
	div[id|="message-body"] > div {
		padding: 4px;
	}

	div[id|="message-body"] > div:has(> div[data-tid="post-message-header-avatar"]) {
		height: unset;
	}

	div[id|="message-body"] > div:has(> span[data-tid="app-profile-card-trigger"]) {
		height: unset;
	}

	div[data-tid="channel-pane-message"] div[id|="message-body"] > div[data-tid="channel-message-reaction-summary"] {
		height: 0;
		justify-content: right;
	}

	div[data-tid="channel-pane-message"] div[id|="message-body"] > div[data-tid="channel-message-reaction-summary"] > div {
		position: absolute;
	}

	div[data-tid="channel-replies-pane-message"] {
		background-color: unset;
	}

	div[data-tid="channel-replies-pane-message"] div[id|="message-body"] {
		padding: 4px;
		margin: 0;
	}

	div[data-tid="channel-replies-pane-message"] div[id|="message-body"] div[data-tid="channel-message-reaction-summary"] {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: unset;
	}

	div[id|="response-surface"] div[id|="message-body"] div[data-tid="diverse-reaction-summary"] {
		position: absolute;
		right: 0;
		margin: unset;
		transform: translateY(-100%);
	}

	div[id|="reply-chain-summary"] div:has(> div[data-tid="post-message-quick-reply-avatar"]) {
		min-height: unset;
		padding: 2px;
	}

	div[id|="message-body"] div.ac-adaptiveCard {
		padding: 8px !important;
	}

	div[id|="message-body"] div.ac-adaptiveCard > div > div.ac-container:has(div.ac-actionSet) {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	div[id|="message-body"] div.ac-adaptiveCard div.ac-actionSet button {
		padding: 2px;
		opacity: 0.4;
	}

	div[id|="message-body"] div.ac-adaptiveCard div.ac-horizontal-separator {
		height: 2px !important;
	}
}
