/* ==UserStyle==
@name           Outlook UI tweaks
@namespace      https://github.com/liskin/dotfiles/tree/home/src-webextensions
@version        1.0.0
@author         Tomáš Janoušek
==/UserStyle== */

@-moz-document url-prefix("https://outlook.office.com/calendar/") {

	/* animate collapsing */
	:is(#o365header, div[aria-label="Ribbon"], #LeftRail) { transition: height 0.3s, width 0.3s; }
	#LeftRail { width: 48px; }

	/* vertically collapse top bars */
	:root:has(#o365header:not(:hover)):has(#LeftRail:not(:hover)):has(div[aria-label="Ribbon"]:not(:hover)):not(:has(button[aria-label="Exit Search" i]))
	:is(#o365header, div[aria-label="Ribbon"]) {
		height: 4px;
	}

	/* horizontally collapse left bar */
	:root:has(#o365header:not(:hover)):has(#LeftRail:not(:hover)):has(div[aria-label="Ribbon"]:not(:hover)):not(:has(button[aria-label="Exit Search" i]))
	:is(#LeftRail) {
		width: 4px;
	}

	/* fix collapsibility */
	:is(#o365header, div[aria-label="Ribbon"], #LeftRail) { overflow: hidden !important; }
	div[aria-label="Ribbon"] > div[style] { position: unset !important; width: unset !important; }
	#LeftRail + div { width: auto; flex: 1; }

}

@-moz-document url-prefix("https://outlook.office.com/mail/") {

	/* animate collapsing */
	:is(#o365header, #LeftRail) { transition: height 0.3s, width 0.3s; }
	#LeftRail { width: 48px; }

	/* vertically collapse top bar */
	:root:has(#o365header:not(:hover)):has(#LeftRail:not(:hover)):not(:has(button[aria-label="Exit Search" i]))
	:is(#o365header) {
		height: 4px;
	}

	/* horizontally collapse left bar */
	:root:has(#o365header:not(:hover)):has(#LeftRail:not(:hover)):not(:has(button[aria-label="Exit Search" i]))
	:is(#LeftRail) {
		width: 4px;
	}

	/* fix collapsibility */
	:is(#o365header, #LeftRail) { overflow: hidden !important; }
	#LeftRail + div { width: auto; flex: 1; }

	/* hide day/week/month headings */
	div[data-app-section="MessageList"] div[role="listbox"] div[role="heading"]:not([id$="results"]) { display: none; }

	/* folders pane compact */
	div[data-app-section="NavigationPane"] > div > div { padding-left: 0; }
	div[data-app-section="NavigationPane"] div.ms-FocusZone > div { padding-right: 0; }

}
