/* ==UserStyle==
@name           Outlook fonts fix
@description    Provide fonts with full Unicode coverage. Fixes "ř" and "ě" and …
@namespace      https://github.com/liskin/dotfiles/tree/home/src-webextensions
@version        1.0.0
@author         Tomáš Janoušek
==/UserStyle== */

@-moz-document domain("outlook.office.com"), domain("outlook.office.com.mcas.ms") {

	@font-face {
		font-family: "Segoe UI";
		src: url("{{ baseurl }}/segoeui.ttf");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "Segoe UI";
		src: url("{{ baseurl }}/segoeuib.ttf");
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: "Segoe UI Bold";
		src: url("{{ baseurl }}/segoeuib.ttf");
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: "Segoe UI";
		src: url("{{ baseurl }}/segoeuii.ttf");
		font-weight: normal;
		font-style: italic;
	}

	@font-face {
		font-family: "Segoe UI Italic";
		src: url("{{ baseurl }}/segoeuii.ttf");
		font-weight: normal;
		font-style: italic;
	}

	@font-face {
		font-family: "Segoe UI";
		src: url("{{ baseurl }}/segoeuil.ttf");
		font-weight: 300;
		font-style: normal;
	}

	@font-face {
		font-family: "Segoe UI Light";
		src: url("{{ baseurl }}/segoeuil.ttf");
		font-weight: 300;
		font-style: normal;
	}

	@font-face {
		font-family: "Segoe UI";
		src: url("{{ baseurl }}/seguibl.ttf");
		font-weight: 900;
		font-style: normal;
	}

	@font-face {
		font-family: "Segoe UI Black";
		src: url("{{ baseurl }}/seguibl.ttf");
		font-weight: 900;
		font-style: normal;
	}

	@font-face {
		font-family: "Segoe UI";
		src: url("{{ baseurl }}/seguibli.ttf");
		font-weight: 900;
		font-style: italic;
	}

	@font-face {
		font-family: "Segoe UI Black Italic";
		src: url("{{ baseurl }}/seguibli.ttf");
		font-weight: 900;
		font-style: italic;
	}

	@font-face {
		font-family: "Segoe UI";
		src: url("{{ baseurl }}/seguili.ttf");
		font-weight: 300;
		font-style: italic;
	}

	@font-face {
		font-family: "Segoe UI Light Italic";
		src: url("{{ baseurl }}/seguili.ttf");
		font-weight: 300;
		font-style: italic;
	}

	@font-face {
		font-family: "Segoe UI";
		src: url("{{ baseurl }}/seguisb.ttf");
		font-weight: 600;
		font-style: normal;
	}

	@font-face {
		font-family: "Segoe UI Semibold";
		src: url("{{ baseurl }}/seguisb.ttf");
		font-weight: 600;
		font-style: normal;
	}

	@font-face {
		font-family: "Segoe UI";
		src: url("{{ baseurl }}/segoeuisl.ttf");
		font-weight: 300;
		font-style: normal;
	}

	@font-face {
		font-family: "Segoe UI Semilight";
		src: url("{{ baseurl }}/segoeuisl.ttf");
		font-weight: 300;
		font-style: normal;
	}

	@font-face {
		font-family: "Segoe UI";
		src: url("{{ baseurl }}/seguisbi.ttf");
		font-weight: 600;
		font-style: italic;
	}

	@font-face {
		font-family: "Segoe UI Semibold Italic";
		src: url("{{ baseurl }}/seguisbi.ttf");
		font-weight: 600;
		font-style: italic;
	}

	@font-face {
		font-family: "Segoe UI";
		src: url("{{ baseurl }}/segoeuiz.ttf");
		font-weight: bold;
		font-style: italic;
	}

	@font-face {
		font-family: "Segoe UI Bold Italic";
		src: url("{{ baseurl }}/segoeuiz.ttf");
		font-weight: bold;
		font-style: italic;
	}

	@font-face {
		font-family: "Segoe UI";
		src: url("{{ baseurl }}/seguisli.ttf");
		font-weight: 300;
		font-style: italic;
	}

	@font-face {
		font-family: "Segoe UI Semilight Italic";
		src: url("{{ baseurl }}/seguisli.ttf");
		font-weight: 300;
		font-style: italic;
	}

}

/* vim:set ft=css: */
